.jumbotron {
	padding-top:360px;	
	padding-bottom:260px;
	background-image: url("../images/topphoto.jpg");
	background-size: cover;
}

.navbar-brand {
	//right:35px;
}

#title {
	position:relative;
    text-align:center;
    bottom:230px;
    font-family:verdana;
    font-size:2em;
    color:white;
    width:300px;
    border:6px solid white;
    margin:0 auto;
	bottom:15px;
}

.myInformation {
	padding-top:150px;
	padding-bottom:50px;
	width:60%;
}

#myInformationText {
	font-size:1em;
	text-align:center;
}

.Collage {
	padding: 10px;
}

.Collage img {
	opacity: 0;
	position: relative;
}

.container img {
	width:300px;
}

.homePictureContent {
	margin:110px auto;
}

.homePictureContent img {
	margin: 30px 20px 30px 20px;
}

.footer p {
	margin: 50px 0 0 0;
	padding-top: 100px;
	background-color: #222222;
	color: white;
	text-align: right;
}

#footerText {
	padding-right: 30px;
	padding-bottom: 20px;
}

.clear{
	clear: both;
	padding-top: 10px;
}

.searchCityForm {
	display: none;
}

.searchCurrentForm {
	display: none;
}

#mapOptionsPanel{
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

#mapForm {
	margin: 5px 0 10px 0;
}

#address {
	width: 100%;
}

#map-canvas {	
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 10px;
}

/* D3 styling */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* Svg */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* Inspiration styling */
.homeInspirationContent {
	margin:125px auto;
}

#pickPhotos img {
	margin: 30px 30px 30px 30px;
	width: 80%;
	max-width: 400px;
}

#photoQuestions img {
	width: 80%;
	max-width: 500px;
}

#typeGallary img {
	margin: 5px 5px 5px 5px;
}

.border {
	outline: 20px solid #021a40;
}

.selected {
	
}

.alignLeft {
	
}

.pageContent {
	margin: 140px auto;
	text-align: center;
	width: 90%;
}

.floatLeft {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

#amount {
	border:0; 
	color:#f6931f; 
	font-weight:bold;
}

.center {
	display: inline-block;
}

.img-wrapper {
	display: inline-block; 
    overflow: hidden;  
}

.marginTop {
	margin-top: 15px;
}

.contactForm {
	margin: 0 auto;
	max-width: 600px;
	width: 90%;
}

textarea { 
	resize: none; 
}

.checkboxes {
	display: inline-block;
    text-align: left;
}

#pickInterest {
	text-align: center;
	margin: 0 auto 1em auto;
}


